@if (kingdoms$ | async; as kingdoms) {
  <div class="flex flex-col justify-between h-full gap-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      @for (kingdom of kingdoms; track kingdom.name) {
      <div class="border border-red-800 p-4 shadow-md w-full">
        <div class="flex flex-col h-full justify-between gap-2">
          <div class="flex flex-col gap-2">
            <div class="flex gap-2 items-center justify-between">
              <span class="cursive">Kingdom Name:</span> <span class="text-3xl">{{ kingdom.name }}</span>
            </div>
            @if(nobles$ | async; as nobles) {
            <div class="flex gap-2 items-center justify-between">
              @for(noble of nobles; track noble._id) {
              @if(noble._id === kingdom.rulerId) {
              <span class="cursive">Ruler:</span> <span class="text-3xl">{{ noble.name }} {{noble.lastName}}</span>
              }
              }
            </div>
            }
          </div>
          <div class="flex flex-wrap w-full gap-2 justify-around">
            <button class="btn-info w-full" (click)="onOpenKingdomInfo(kingdom)">Kingdom Info</button>
            <button class="btn w-full" (click)="onEditKingdom(kingdom)">Edit Kingdom</button>
            <button class="btn-danger w-full" (click)="onDeleteKingdom(kingdom._id)">Delete Kingdom</button>
          </div>
        </div>
      </div>
      }
    </div>
    <button class="btn" (click)="onCreateKingdom()">Create a new Kingdom</button>
  </div>
  }