<div class="flex flex-col gap-4 p-4">
  <div class="flex flex-col items-center gap-4">
    <div class="w-full flex gap-2">
      <input type="text" [(ngModel)]="query" name="searchQuery" placeholder="Search..."
        class="form-input w-full p-2 border rounded-lg" (ngModelChange)="onSearch()" />
    </div>

    <div class="w-full  mt-4">
      <div *ngIf="results.nobles?.length">
        <h1 class="font-semibold mb-2 border-b-4 border-b-red-900">Nobles</h1>
        <ul class="list-none p-0">
          <li *ngFor="let noble of results.nobles" class="border-b border-b-red-900 py-2 flex flex-col gap-4">
            <div>
              <span class="text-red-900">{{ noble.title }} {{ noble.name }} {{ noble.lastName }}</span>
              @if(noble.description){- {{ noble.description }}}
            </div>
            <a [routerLink]="'/nobles/'+ noble._id" class="btn-info w-fit">Noble Info</a>

          </li>
        </ul>
      </div>

      <div *ngIf="results.families?.length" class="mt-4">
        <h1 class="font-semibold mb-2 border-b-4 border-b-red-900">Families</h1>
        <ul class="list-none p-0">
          <li *ngFor="let family of results.families" class="border-b border-b-red-900 py-2 flex flex-col gap-4">
            <div>
              <span class="text-red-900">{{ family.name }}</span>@if(family.description){- {{ family.description }}}
            </div>
            <a [routerLink]="'/families/'+ family._id" class="btn-info w-fit">Family Info</a>
          </li>
        </ul>
      </div>

      <div *ngIf="results.kingdoms?.length" class="mt-4">
        <h1 class="font-semibold mb-2 border-b-4 border-b-red-900">Kingdoms</h1>
        <ul class="list-none p-0">
          <li *ngFor="let kingdom of results.kingdoms" class="border-b border-b-red-900 py-2 flex flex-col gap-4">
            <div>
              <span class="text-red-900">{{ kingdom.name }}</span>@if(kingdom.description){- {{ kingdom.description }}}
            </div>
            <a [routerLink]="'/kingdoms/'+ kingdom._id" class="btn-info w-fit">kingdom Info</a>
          </li>
        </ul>
      </div>

      <div *ngIf="results.cities?.length" class="mt-4">
        <h1 class="font-semibold mb-2 border-b-4 border-b-red-900">Cities</h1>
        <ul class="list-none p-0">
          <li *ngFor="let city of results.cities" class="border-b border-b-red-900 py-2 flex flex-col gap-4">
            <div>
              <span class="text-red-900">{{ city.name }}</span>@if(city.description){- {{ city.description }}}
            </div>
            <a [routerLink]="'/nobles/'+ city._id" class="btn-info w-fit">City Info</a>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>